body {
    background-image: url("https://i.pinimg.com/originals/f6/a1/e6/f6a1e61242a17ba7dfeb71cdcb0b02dd.jpg");
}
ul{
    font-size: 20px;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid white;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    padding: 200px 200px;
    background-image: url("http://www.clker.com/cliparts/h/T/6/x/H/o/clap-board.svg");
    background-color: black;
    color: white;
    box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
}