html {
       background-image: url("cow.jpg");
       display: block;
       font-family: "Lucida Console", Monaco, monospace;
}

h3 {
    text-align: center;
}


h4 {
    text-align: center;
}
body {
    background-image: url("");
}

.wrap {
    max-width: 720px;
    margin: 50px auto;
    padding: 30px 40px;
    text-align: center;
    box-shadow: 0 4px 25px -4px #9da5ab;
    background-color: #ffffff;
    background-image: url("cow.jpg");
}
article {
    padding: 40px;
    line-height: 150%;
    text-align: left;
}

nav .item {
    text-decoration: none;
}
nav .active {
    border-bottom: 1px solid;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0 4px 25px -4px #9da5ab
}
.center {
    margin: auto;
    width: 50%;
    padding: 200px 200px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxz1pSVcnoLSbKLRKshtscXAEEB6mWAODqOMrxqeRaLwg4uAdP");
    background-color: black;
    color: white;
    box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
}