html {
       background-color: #cee1f2;
       display: block;
       font-family: "Lucida Console", Monaco, monospace;
}

h3 {
    text-align: center;
}


h4 {
    text-align: center;
}
body {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F324188873147018219%2F&psig=AOvVaw0uL1fKwPf0ago76I2ZF23p&ust=1572318667756000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNjyrdL9veUCFQAAAAAdAAAAABAD");
}

.wrap {
    max-width: 720px;
    margin: 50px auto;
    padding: 30px 40px;
    text-align: center;
    box-shadow: 0 4px 25px -4px #9da5ab;
    background-color: #ffffff;
    background-image: url("cow.jpg");
}
article {
    padding: 40px;
    line-height: 150%;
    text-align: left;
}

nav .item {
    text-decoration: none;
}
nav .active {
    border-bottom: 1px solid;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0 4px 25px -4px #9da5ab
}